@font-face {
  src: url("../fonts/riffic-light.ttf");
  font-family: "Riffic";
  font-weight: 300;
}

@font-face {
  src: url("../fonts/riffic-book.ttf");
  font-family: "Riffic";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/riffic-medium.ttf");
  font-family: "Riffic";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/riffic-semibold.ttf");
  font-family: "Riffic";
  font-weight: 600;
}





